html
    head
        title Series
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet")

    body(class='p-3')
        nav(class="navbar navbar-expand-lg bg-light") 
            div(class="container-fluid") 
                a(class="navbar-brand" href="/") CricHub
                ul(class="navbar-nav me-auto mb-2 mb-lg-0") 
                    li(class="nav-item") 
                    a(class="nav-link active" href="/home") Home
                    li(class="nav-item") 
                    a(class="nav-link" href="/scoreboard") Scoreboard
                    li(class="nav-item") 
                    a(class="nav-link" href="/series") Series
                    li(class="nav-item") 
                    a(class="nav-link" href="/teams") Teams
                form(class="d-flex" role="search" action="player") 
                    input(class="form-control me-2" type="search" name="name" placeholder="Search Player" aria-label="Search") 
                    button(class="btn btn-outline-success" type="submit") Search

        div(class='m-5')
            h1(class='text-center m-2' style='font-variant:small-caps') Current Series
            div(class="row text-center")
                each match in matches
                    div(class="list-group col-4 mb-1 rounded")
                        a(class="list-group-item list-group-item-action")
                            div(class="d-flex w-100 justify-content-between")
                                h6(class="mb-1 text-center text-primary") #{match.name}
                            b
                                span #{match.startDate} - #{match.endDate}
                            p(class="mb-1") ODI: #{match.odi}, T20: #{match.t20}, TEST: #{match.test}